#wrap
  #taco
    #column_1.col1
      -each radio in radios
        .radio
          .stack(url='#{radio.img}', class='img512', style='background-image: url("/image/#{radio.img}")')
          .caption
            textarea.mdtxt(style='display:none')
              #{radio.caption}
            .md

    #column_2.col2
      -each text in texts
        .txt
          textarea.mdtxt(style='display:none')
            #{text}
          .md
    #markdown-help
      textarea.mdtxt(style='display:none')
        #{mdhelp}
      .md
    iframe(id='loginbar', src='about:none')
    #session
      button(id='twitbutt')
        | Sign in with twitter
script(type='text/javascript')
  $(function(){
    $('#markdown-help').hide();

    $('#loginbar').hide();

    rendermd(); // renders the markdown textareas.
    
    $(".mdtxt").live({
      blur: function() {
        $(this).hide();
        rendermd();
        $(this).siblings(".md").show();
      }
    }); // hides the textbox and renders the markdown
      
  });
