body
  -each radio in radios
    .stack(style='background-image: url("/images/#{radio.url}.jpg"); top: #{radio.y}; left: #{radio.x}')
  -each text in texts
    .md(style='top: #{text.y}; left: #{text.x}')
      =text.content
