extends layout

block mainContent
  iframe.hidden(name="postframe", id="postframe", src="about:none")
  iframe.hidden(name="postdcm", id="postdcm", src="about:none")
  iframe.hidden(name="getdcm", id="getdcm", src="about:none")
  #pageinfo
    #meta_cid.hidden #{cid}
    #meta_page.hidden #{page}
    #meta_modalities.hidden #{modalities}
    #meta_description.hidden #{description}
    #meta_pagetype.hidden #{pagetype}
    #meta_nextpage.hidden #{nextpage}
    #meta_prevpage.hidden #{prevpage} 
  #title
    .txt
      textarea.mdtxt(style='display:none')
        ###{title}
      .md.gray
      img.control.textedit.session(src='/static/ico/pencil_bw.png')
  //a#prevpage(href='/case/#{cid}/#{prevpage}', pageno='#{prevpage}')
  //  img(src='/static/ico/arrow-180.png')
  //a#nextpage(href='/case/#{cid}/#{nextpage}', pageno='#{nextpage}')
  //  img(src='/static/ico/arrow.png')
  block casepagecontent
  #markdown-help(style='display:none')
    img.control.textedit.session(src='/static/ico/pencil_bw.png')
    img.control.Cancel(src='/static/ico/cross-circle_bw.png')
    textarea.mdtxt(style='display:none')
      | #{mdhelp}
    .md
    //img.control#feedbackbutton(src='/static/ico/balloon_bw.png')
  #feedbackarea(style='display:none')
    #feedbacktext
    textarea#feedbackbox
    br
    button#feedback_confirm(type='button')
      | Send comment
  #info(style='display:none')
  #progressbar
  //  img(src='/static/ico/arrow-180.png')
  //a#nextpage(href='/case/#{cid}/#{nextpage}', pageno='#{nextpage}')
  //  img(src='/static/ico/arrow.png')
  script.
    $(function(){
      $("<a id='prevpage' href='/case/#{cid}/#{prevpage}' pageno='#{prevpage}'><img src='/static/ico/arrow-180.png'></a>").insertBefore(".author");
      $("<a id='nextpage' href='/case/#{cid}/#{nextpage}' pageno='#{nextpage}'><img src='/static/ico/arrow.png'></a>").insertAfter("#controls");
      $("#{modalities}").each(function(){
        $(this).attr("checked",true);
      });
      $("#{description}").each(function(){
        $(this).attr("checked",true);
      });
      $("##{language}").attr("checked", true);
      var cid = '#{cid}';
      var page = '#{page}';
      if(#{editor}=='1') {
        $("#lock").show();
        };
    });
