body
  #leftcolumn
    -each radio in radios
      .stack(style='background-image: url("/images/#{radio.url}.jpg"); top: #{radio.y}; left: #{radio.x}')
    form(id ='uploadform')
      input(type='file', name='userfile', id='userfile', multiple='multiple')
      input(id='upload', type='submit', value='Upload file')
  #rightcolumn
    -each text in texts
      .md(style='top: #{text.y}; left: #{text.x}')
        =text.content
  #iframe(style='width: 0px; height: 0px; visibility:none')
  script(type='text/javascript')
    $(function(){
      $("#upload").click(function(){
        //      var d = new Date();
        //      var t = d.getTime().toString();
        var userFile = $('#userfile').val();
        var iframe = $( '<iframe name="postframe" id="postframe" class="hidden" src="about:none" />');
        $('#iframe').append(iframe);
        $('#uploadform').attr("action", "/image/");
        $('#uploadform').attr("method", "post");
        $('#uploadform').attr("userfile", userFile);
        $('#uploadform').attr("enctype", "multipart/form-data");
        $('#uploadform').attr("encoding", "multipart/form-data");
        $('#uploadform').attr("target", "postframe");
        $('#uploadform').submit();
        // create the new div, when image processed, set it as background
        $('#leftcolumn').append("<div class='stack'></div>");
        $('#postframe').load(
            function(){
              var imgid = $("iframe")[0].contentDocument.body.innerHTML;
         //             iframeContents = $("iframe")[0].contentDocument.body.innerHTML;
         //             if (iframeContents === "OK, image done"){
              $('.stack:last').css('background-image', 'url("/image/' + imgid + '")');
              scrollfunction();
         //             }
            });
      });
    });
