iframe.hidden(name="postframe", id="postframe", src="about:none")
#pageinfo
  | by:
  a(href='https://twitter.com/intent/user?screen_name=#{creator}')
    @#{creator}  
button(id='#{edit_or_feedback}')
  #{editfeedbacktext}
iframe(id='editbar', src='about:none', style='display:none')
#texts
  -each text in texts
    .txt
      textarea.mdtxt(style='display:none')
        #{text}
      .md
  -if('#{prevpage}')
    a(href='/case/#{cid}/#{prevpage}', style='float: left')
      | <- prev page
  a(href='/case/#{cid}/#{nextpage}', style='float: right')
    |   next page ->
#radios
  - each r in radios
    .radio
      .stack
        - each i in r.images
          img.stack_image(src='#{i}')
      .caption
        textarea.mdtxt(style='display:none')
          #{r.caption}
        .md
  button(id='addstack', style='display:none')
    | +
#markdown-help(style='display:none')
  button(id='closehelp')
    | X
  textarea.mdtxt(style='display:none')
    #{mdhelp}
  .md
#info(style='display:none')
#delete_dialog.dialog_box(style='display:none')
  form(id='deletepage', action='/case/#{cid}/#{page}/delete')
    | Are you sure you want to delete this page?
    br
    button(id='deleteconfirmed', type='button')
      | Confirm
    button(id='canceldelete', type='button')
      | Cancel
#meta_dialog.dialog_box(style='display:none')
  form(id='meta')
    | Title:
    input(type='text', id='meta_title', value='#{title}')
    | Private
    input(type='checkbox', id='meta_private', value='meta_private', name='meta_private')
    button(id='meta_ok', type='button')
      | OK
#uploadarea.dialog_box(style='display:none')
  | Please choose image(s) to upload.
  br
  | If multiple images are uploaded together they will be combined to a stack.
  br
  br
  form(id='uploadform')
    .fileinputs
      input.file(type='file', name='userfile', id='userfile', multiple='multiple')
      .fakefile
        input
        button
          | Browse
    input.input1(id='upload', type='submit', value='Upload file(s)')
    button(id='cancelupload')
      | cancel
script(type='text/javascript')
  $(function(){
    $('.stack').children(':first').show();

    rendermd(); // renders the markdown textareas.
    
    $(".mdtxt").live({
      blur: function() {
        $(this).hide();
        rendermd();
        $(this).siblings(".md").show();
      }
    }); // hides the textbox and renders the markdown
    if(#{meta_private}){$('#meta_private').attr('checked', true);}
  });