iframe.hidden(name="postframe", id="postframe", src="about:none")
#pageinfo
  | by:
  a(href='https://twitter.com/intent/user?screen_name=#{creator}')
    @#{creator}
    #created(style='display:none')
      | #{created}
- if('#{editor}')
    a.session(id='editbutton')
      | ◀
- if(!'#{editor}')
    a.session(id='feedbackbutton')
iframe(id='editbar', src='about:none', style='display:none')
#texts
  .txt
    textarea.mdtxt(style='display:none')
      #{texts}
    .md
  br
  -if('#{prevpage}')
    a(href='/case/#{cid}/#{prevpage}', style='float: left')
      | ◀
  a(href='/case/#{cid}/#{nextpage}', style='float: right')
    | ▶
#radios
  - each r in radios
    .radio(id='#{r.ID}')
      .stack
        - each i in r.images
          img.stack_image(src='#{i}')
      .caption
        textarea.mdtxt(style='display:none')
          #{r.caption}
        .md
  a.session(id='addstack', style='display:none')
    | ＋
  #markdown-help(style='display:none')
    a.session(id='closehelp')
      | X
    textarea.mdtxt(style='display:none')
      #{mdhelp}
    .md
#info(style='display:none')
#delete_dialog.dialog_box(style='display:none')
  form(id='deletepage', action='/case/#{cid}/#{page}/delete')
    | Are you sure you want to delete this page?
    br
    button(id='deleteconfirmed', type='button')
      | Confirm
    button(id='canceldelete', type='button')
      | Cancel
#meta_dialog.dialog_box(style='display:none')
  form(id='meta')
    | Title:
    input(type='text', id='meta_title', value='#{title}')
    | Private
    input(type='checkbox', id='private', value='1', name='private')
    button(id='meta_ok', type='button')
      | OK
#save_dialog.dialog_box(style='display:none')
  button(id='save', type='button')
    | Save Page
  button(id='cancelsave', type='button')
    | Cancel
#deleteradio_dialog.dialog_box(style='display:none')
  | Do you want to delete the selected stack/radio from this page?
  br
  br
  button(type='button', id='deleteradio_confirm')
    | Delete
  button(type='button', id='deleteradio_cancel')
    | Cancel
#feedback_dialog.dialog_box(style='display:none')
  form(id='feedback')
    textarea(id='feedback_text')
    br
    | Send to:
    input(type='checkbox', id='feedback_author', value='1', name='author')
    | Creator
    input(type='checkbox', id='feedback_curator', value='1', name='curator')
    | Curator
    br
    button(type='button', id='send_feedback')
      | Send feedback
    button(type='button', id='cancel_feedback')
      | Cancel
#uploadarea.dialog_box(style='display:none')
  | Please choose image(s) to upload.
  br
  | If multiple images are uploaded together,
  br
  | they will be combined to a stack.
  br
  br
  form(id='uploadform', action='/image/#{cid}/#{page}')
    .fileinputs
      input.file(type='file', name='userfile', id='userfile', multiple='multiple')
      .fakefile
        input
        button
          | Browse
    input.input1(id='upload', type='submit', value='Upload file(s)')
    button(id='cancel_upload')
      | cancel
script(type='text/javascript')
  $(function(){
    $('.stack').children(':first').show();

    rendermd(); // renders the markdown textareas.
    
    $(".mdtxt").live({
      blur: function() {
        $(this).hide();
        rendermd();
        $(this).siblings(".md").show();
      }
    }); // hides the textbox and renders the markdown
    if(#{private}){$('#private').attr('checked', true);}
  });