!!!5
html
  head
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    title RADIOCA.SE - #{title}

    link(href='http://fonts.googleapis.com/css?family=Orbitron:400,500|Dancing+Script|Damion', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src = '/javascripts/jquery-latest.js')
    script(src = '/auth/client')
    script(src = 'http://platform.twitter.com/widgets.js')
    script(src = '/javascripts/jquery.mousewheel.min.js')
    script(src = '/javascripts/showdown.js')
    script(src = '/javascripts/client.js')
    //script(src= 'http://10.0.1.5:8124/debug.js')
  body
    #sl
      a(href='/')
        img(src='/images/RADIOCA.SE_small_logo.png')
    #container
      #session
        a.session(id='sign_in') Sign in with twitter
      #userinfo.session(style='display:none')
        a My cases
        br
        a My messages
        br
        a(id='sign_out') Sign out
      != body // this renders the body of an individual view
    #footer
      a(href='/')
        | Home
      | -
      a(href='/cases/0/-1')
        | Cases
      | -
      a(href='/about')
        | About
      | -
      a(href='/readme')
        | Readme
      | -
      a(href='mailto:info@radioca.se')
        | Contact
script(type='text/javascript')
  $(function(){
    var user = '#{user}';
    if(#{signed_in}){
      $('#session').html('<a class="session" id="user_settings">#{user} ▼ </a>');
    }
  });
