iframe.hidden(name="postframe", id="postframe", src="about:none")
#pageinfo
  #meta_cid.hidden #{cid}
  #meta_page.hidden #{page}
  | by:
  a(href='https://twitter.com/intent/user?screen_name=#{creator}', title='Link to twitter')
    @#{creator}
  | &#x2002;
  span#lock
    a.abutton#lock(title='Edit Page')
      span#locked
        img.control(src='/icons/pencil.png')
      span#open
        img.control(src='/icons/tick.png')
  #created(style='display:none')
    | #{created}
#title
  .txt
    textarea.mdtxt(style='display:none')
      ##{title}
    .md
    img.control.textedit.session(src='/icons/pencil.png')
#textpage
  .txt
    textarea.mdtxt(style='display:none')
      #{texts}
    .md
    img.control.textedit.session(src='/icons/pencil.png')
  br
  br
  a#prevpage(href='/case/#{cid}/#{prevpage}', style='float: left')
    img.control(src='/icons/arrow-180.png')
  a#nextpage(href='/case/#{cid}/#{nextpage}', style='float: right')
    img.control(src='/icons/arrow.png')
#markdown-help(style='display:none')
  a.session(id='help_cancel')
    | X
  textarea.mdtxt(style='display:none')
    #{mdhelp}
  .md
a.abutton(id='feedbackbutton', title='Show comments')
  &#x1f4ac;
#feedbackarea(style='display:none')
  #feedbacktext
  textarea#feedbackbox
  br
  button(id='feedback_confirm', type='button')
    | Send
#info(style='display:none')
script(type='text/javascript')
  $(function(){
    var cid = '#{cid}';
    var page = '#{page}';
    if(#{editor}=='1') {
      $("#lock").show();
      };
    if(#{private}=='1'){$('#private').attr('checked', true);}
  });
