#topleftdiv
#cases
  h1.damion Cases
  a(href='/newcase') Create Case
  br
  #cases_lc
    - each c in cases
      a(href='/case/#{c.cid}/1') #{c.title}
      br
  #cases_rc
    - each c in cases
      | by:
      a(href='https://twitter.com/intent/user?screen_name=#{c.creator}')
        @#{c.creator}
      button.deletecase(ID='#{c.cid}')
        | Delete
      br
